
$fontFamily: "Source Sans Pro", sans-serif;


body{
  font-family: "Source Sans Pro", sans-serif;
/*  background-color: #fff;
*/  background-color: #FFF;
  color: #1a0c03; /*textblack*/
}

header {
  margin: auto;
  max-width: 100%;
}

#circleLegendTravellers {
  display: inline;
  margin-right: 1rem;
  margin-left: 3rem;
}

#legendEndemic {
  fill:#b468b2;
}

#legendSuitable {
  fill:#f8b461;
}

#legendProofRequired {
  fill:#4dc6f3;
  opacity: 0.1;
}

.subText {
/*  display: inline;
*/  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 0.1rem;
}

#introStep {
  box-shadow: none;

  background-color: transparent;
}

.mainHeader{
  padding-top: 2rem;
}

.step {
  background-color: rgba(255,255,255,0.95);
  padding-bottom: 2rem;
  padding-top: 2rem;

  padding-right: 3rem;
  padding-left: 3rem;


  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.05);
}


.sectionIcons {
  border-radius: 50%;
  box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.05);
}

.step {
/*  margin-top: 100px;
*/  margin-bottom: 50rem;
}


h1 {
  font-size: 3.5rem;
  line-height: 1.1;
/*  text-transform: uppercase;
  letter-spacing: 0.1rem;*/
  text-align: center;
}

h2 {
  line-height: 2;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

p {
  line-height: 1.75;
  font-size: 1.25rem;
}

/*.countryLabel{
  font-size: 0.6rem;
  z-index: 10;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
}
*/
#sections {
  position: absolute;
  margin: auto;
  width: 80%;
  top: 60%;
  left: 50%;
  z-index: 5;
  transform: translateX(-50%);
  
  text-align: center;
}

#worldMap {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: -10;
  margin-left: 0;
  transition: opacity 1s;
}

#vis {
/*  display: inline-block;
*/  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: -10;
  margin-left: 0;
  opacity: 0;
  transition: opacity 1s;
}


circle {
  fill: #003014;
}


.destinationCircle {
  animation: hideshow 5s ease infinite;
  transform-origin: center center;
}

@keyframes hideshow {
  0% { transform: scale(1.0); opacity:0.5; }
  50% { transform: scale(1.25); opacity:1;  }
  100% { transform: scale(1.0); opacity:0.5; }
}

.labels {
  text-align: center;
}


.dotlegendContainer {
  display: inline;
  margin-right: 0.5rem;
}


.bold {
  font-weight: 700;
}

.mainHeader {
  text-align: center;
}
.author {
  text-align: center;
}

#conclusionContainer {
  margin-bottom: 5rem;
}
