
$fontFamily: "Source Sans Pro", sans-serif;


body{
  font-family: "Source Sans Pro", sans-serif;
/*  background-color: #fff;
*/  background-color: #f7f7f7;
  color: #1a0c03; /*textblack*/
}

header {
  margin: auto;
  max-width: 100%;
}

.flightLine {
  z-index: 10;
}


.countries {
/*  fill: #f6f6f7;
*/  stroke: #f7f7f7;
stroke-width: 1;
  fill: #e5e6e9;
}
.endemicCirclesMap,
.suitableCirclesMap {
  z-index: -1;
  opacity: 0.7;
  mix-blend-mode: multiply;
}

.countries {
  mix-blend-mode: multiply;

}

.endemicCirclesMap {
  fill:#80326e;
}
.suitableCirclesMap {
  fill:#de6e00;
}

#circleLegendTravellers {
  display: inline;
  margin-right: 1rem;
  margin-left: 3rem;
}

#legendEndemic {
  fill:#80326e;
/*  stroke: black;
  stroke-width: 2;*/

}

#legendSuitable {
  fill:#de6e00;
/*  stroke: black;
  stroke-width: 2;*/

}

#legendProofRequired {
  fill:#0093c8;
  opacity: 0.1;
/*  stroke: black;
  stroke-width: 2;*/


}


.subText__container {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.subText {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 0.1rem;
  background-color: #f7f7f7;
  padding: 0.5rem;
  padding-right: 2rem;
  padding-left:2rem;
  border-radius: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#introStep {
  box-shadow: none;

  background-color: transparent;
}

.step {
  background-color: rgba(255,255,255,0.95);
  padding-bottom: 2rem;
  padding-top: 2rem;
  padding-right: 3rem;
  padding-left: 3rem;
  border-radius: 1rem;

  margin-bottom: 50rem;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.05);
}


h1 {
  font-family: "Merriweather";
  font-size: 2rem;
  line-height: 1.5;
  padding:0;
/*  text-transform: uppercase;
  letter-spacing: 0.1rem;*/
  text-align: center;
}

h2 {
  line-height: 2;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

p {
  line-height: 1.5;
  font-size: 1.125rem;
}

/*.countryLabel{
  font-size: 0.6rem;
  z-index: 10;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
}
*/
#sections {
  position: absolute;
  margin: auto;
  width: 70%;
  top: 100vh;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -30rem);
/*  transform: translateY();
*/  text-align: center;
}

#worldMap {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: -10;
  margin-left: 0;
  transition: opacity 1s;
}

#vis {
/*  display: inline-block;
*/  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: -10;
  margin-left: 0;
  opacity: 0;
  transition: opacity 1s;
}


circle {
  fill: #0093c8;
}


.destinationCircle {
  animation: hideshow 5s ease infinite;
  transform-origin: center center;
}

@keyframes hideshow {
  0% { transform: scale(1.0); opacity:0.5; }
  50% { transform: scale(1.25); opacity:1;  }
  100% { transform: scale(1.0); opacity:0.5; }
}

.labels {
  text-align: center;
}


.dotlegendContainer {
  display: inline;
  margin-right: 0.5rem;
}


.bold {
  font-weight: 700;
}

.author {
  text-align: center;
}

#conclusionContainer {
  margin-bottom: 20rem;
}

/*.vacEndYesDestEndTrue {
    fill: #0093c8;
    transition: fill 2s;
}

.vacEndYesDestEndFalse {
    fill: #0093c8;
    transition: fill 2s;
}

.vacEndNoDestEndTrue {
    fill: #0093c8;
    transition: fill 2s;
}

.vacEndNoDestEndFalse {
    fill: #0093c8;
    transition: fill 2s;
}*/
